<div class="form-group">
    <label>ImagePullPolicy</label>
    <select class="form-control" v-model="containers[index].imagepullpolicy">
        <option v-for="(val) in imagepullpolicy">[[val]]</option>
    </select>

</div>



<fieldset class="col-md-12" v-if="containers[index].ports">
    <legend>Command</legend>
</fieldset>

<fieldset class="col-md-12" v-if="containers[index].ports">
    <legend>Env</legend>
</fieldset>

<fieldset class="col-md-12" v-if="containers[index].ports">
    <legend>Mount Volumn</legend>
</fieldset>
<br />


<div class="form-row">
    <div class="form-group col">
        <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btn-sm" v-on:click="addPort(index)">Add
            Container Port</a>
    </div>
    <div class="form-group col">
        <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btn-sm" v-on:click="addPort(index)">Add
            Env</a>
    </div>
</div>
<div class="form-row">
    <div class="form-group col">
        <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btn-sm" v-on:click="addPort(index)">Mount
            Volumn</a>
    </div>
    <div class="form-group col">
        <a href="javascript:void(0)" class="btn btn-primary btn-lg btn-block btn-sm" v-on:click="addPort(index)">Add
            Command</a>
    </div>
</div>



<fieldset class="col-md-12">
    <legend>liveness - Probe</legend>
    <div class="form-group">
        <label>initialDelaySeconds</label>
        <input type="number" v-model.number="initialDelaySeconds" class="form-control"
            placeholder="initialDelaySeconds">
    </div>
    <div class="form-group">
        <label>periodSeconds</label>
        <input type="number" v-model.number="periodSeconds" class="form-control" placeholder="periodSeconds">
    </div>
</fieldset>


<div class="form-group">
    <div class="form-group">
        <label>httpGet</label>
        <input type="text" v-model="httpGet.path" class="form-control" placeholder="httpGet Path">
    </div>
</div>
<div class="form-group">
    <label>exec - Commands</label>
    <input type="number" v-model.number="tcpSocketPort" class="form-control" placeholder="tcpSocket - Port">
</div>
<div class="form-group">
    <label>tcpSocket - Port</label>
    <input type="number" v-model.number="tcpSocketPort" class="form-control" placeholder="tcpSocket - Port">
</div>



<fieldset class="col-md-12 mt-0">
        <legend>Container Fields</legend>
        <div class="form-row m-2">            
            <div class="col-6" v-for="conf,key in Configrutation">
                <input type="checkbox" class="form-check-input" v-on:click="addRemoveField()" v-model="Configrutation[key]" />
                <label class="from-group">[[key]]</label>
            </div>
        </div>
    </fieldset>